/*Estilos Header*/
header{
    background-color: #E2D4BA;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    nav{
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            li{
                .logo{
                    width: 150px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 18px
                }
            }
        }
    }
}